<section id="primeira-leitura" class="painel-leitura" role="tabpanel" aria-labelledby="tab-primeira-leitura">
<h2 class="titulo-painel">Primeira Leitura</h2>
<p><strong>Com todos, eu me fiz tudo, para certamente salvar alguns.</strong></p>
<p><strong>Leitura da Primeira Carta de São Paulo aos Coríntios 9,16-19.22b-27</strong></p>
<p>Irmãos,</p>
<p>16 pregar o evangelho não é para mim motivo de glória. É antes uma necessidade para mim, uma imposição. Ai de mim se eu não pregar o evangelho!</p>
<p>17 Se eu exercesse minha função de pregador por iniciativa própria, eu teria direito a salário. Mas, como a iniciativa não é minha, trata-se de um encargo que me foi confiado.</p>
<p>18 Em que consiste então o meu salário? Em pregar o evangelho, oferecendo-o de graça, sem usar os direitos que o evangelho me dá.</p>
<p>19 Assim, livre em relação a todos, eu me tornei escravo de todos, a fim de ganhar o maior número possível.</p>
<p>22b Com todos, eu me fiz tudo, para certamente salvar alguns.</p>
<p>23 Por causa do evangelho eu faço tudo, para ter parte nele.</p>
<p>24 Acaso não sabeis que os que correm no estádio correm todos juntos, mas um só ganha o prêmio? Correi de tal maneira que conquisteis o prêmio.</p>
<p>25 Todo atleta se sujeita a uma disciplina rigorosa em relação a tudo, e eles procedem assim, para receberem uma coroa corruptível. Quanto a nós, a coroa que buscamos é incorruptível!</p>
<p>26 Por isso, eu corro, mas não à toa. Eu luto, mas não como quem dá murros no ar.</p>
<p>27 Trato duramente o meu corpo e o subjugo, para não acontecer que, depois de ter proclamado a boa-nova aos outros, eu mesmo seja reprovado.</p>
<p><strong>Palavra do Senhor.</strong><br />
<strong>Graças a Deus.</strong></p>
</section>
<section id="salmo" class="painel-leitura" role="tabpanel" aria-labelledby="tab-salmo">
<h2 class="titulo-painel">Salmo</h2>
<p><strong>Sl 83(84),3.4.5-6.12</strong></p>
<p><strong>Refrão:</strong> Quão amável, ó Senhor, é vossa casa!</p>
<p>3 Minha alma desfalece de saudades e anseia pelos átrios do Senhor! Meu coração e minha carne rejubilam e exultam de alegria no Deus vivo!</p>
<p>4 Mesmo o pardal encontra abrigo em vossa casa, e a andorinha ali prepara o seu ninho, para nele seus filhotes colocar: vossos altares, ó Senhor Deus do universo, vossos altares, ó meu Rei e meu Senhor!</p>
<p>5 Felizes os que habitam vossa casa; para sempre haverão de vos louvar!</p>
<p>6 Felizes os que em vós têm sua força, e se decidem a partir quais peregrinos!</p>
<p>12 O Senhor Deus é como um sol, é um escudo, e largamente distribui a graça e a glória.</p>
<p><strong>Refrão:</strong> Quão amável, ó Senhor, é vossa casa!</p>
</section>
<section id="evangelho" class="painel-leitura" role="tabpanel" aria-labelledby="tab-evangelho">
<h2 class="titulo-painel">Evangelho</h2>
<p><strong>cf. Jo 17,17b.a</strong></p>
<p><strong>Aleluia, aleluia, aleluia.</strong></p>
<p>“Vossa palavra é a verdade; santificai-nos na verdade!”</p>
<p><strong>Aleluia, aleluia, aleluia.</strong></p>
<p><strong>Pode um cego guiar outro cego?</strong></p>
<p><strong>Proclamação do Evangelho de Jesus Cristo segundo Lucas 6,39-42</strong></p>
<p>Naquele tempo,</p>
<p>39 Jesus contou uma parábola aos discípulos: “Pode um cego guiar outro cego? Não cairão os dois num buraco?</p>
<p>40 Um discípulo não é maior do que o mestre; todo discípulo bem formado será como o mestre.</p>
<p>41 Por que vês tu o cisco no olho do teu irmão, e não percebes a trave que há no teu próprio olho?</p>
<p>42 Como podes dizer a teu irmão: ‘Irmão, deixa-me tirar o cisco do teu olho’, quando tu não vês a trave no teu próprio olho? Hipócrita! Tira primeiro a trave do teu olho, e então poderás enxergar bem para tirar o cisco do olho do teu irmão”.</p>
<p><strong>Palavra da Salvação.</strong><br />
<strong>Glória a vós, Senhor.</strong></p>
</section>
