<h3>Primeira leitura</h3>
<p><strong>Nós somos cooperadores de Deus, e vós sois lavoura de Deus, construção de Deus.</strong></p>
<p><strong>Leitura da Primeira Carta de São Paulo aos Coríntios 3,1-9</strong></p>
<p>Irmãos,</p>
<p><strong>1</strong> não pude falar-vos como a pessoas espirituais. Tive que vos falar como a pessoas carnais, como a crianças na vida em Cristo.</p>
<p><strong>2</strong> Pude oferecer-vos somente leite, não alimento sólido, pois ainda não éreis capazes de tomá-lo. E nem atualmente sois capazes de receber alimento sólido,</p>
<p><strong>3</strong> visto que ainda sois carnais. As rivalidades e rixas que existem aí, no meio de vós, acaso não mostram que sois carnais e que procedeis de acordo com os impulsos naturais?</p>
<p><strong>4</strong> Quando um declara: “Eu sou de Paulo”, e outro: “Eu sou de Apolo”, não estais procedendo como pessoas simplesmente naturais?</p>
<p><strong>5</strong> Pois, o que é Apolo? O que é Paulo? Não passam de servidores, pelos quais chegastes à fé. E cada um deles exerce seu serviço segundo o dom recebido de Deus.</p>
<p><strong>6</strong> Eu plantei, Apolo regou, mas Deus é que fazia crescer.</p>
<p><strong>7</strong> De modo que nem o que planta, nem o que rega são, propriamente, importantes. Quem é importante é aquele que faz crescer: Deus.</p>
<p><strong>8</strong> Aquele que planta e aquele que rega formam uma unidade, mas cada um receberá o seu próprio salário, proporcional ao seu trabalho.</p>
<p><strong>9</strong> Com efeito, nós somos cooperadores de Deus, e vós sois lavoura de Deus, construção de Deus.</p>
<p><strong>Palavra do Senhor.</strong></p>
<p><strong>Graças a Deus.</strong></p>
<h3>Salmo responsorial</h3>
<p><strong>Sl 32(33),12-13.14-15.20-21 (R. 12b)</strong></p>
<p><strong>Refrão:</strong> Feliz o povo que o Senhor escolheu por sua herança!</p>
<p><strong>12</strong> Feliz o povo cujo Deus é o Senhor, e a nação que escolheu por sua herança!</p>
<p><strong>13</strong> Dos altos céus o Senhor olha e observa; ele se inclina para olhar todos os homens.</p>
<p><strong>14</strong> Ele contempla do lugar onde reside e vê a todos os que habitam sobre a terra.</p>
<p><strong>15</strong> Ele formou o coração de cada um e por todos os seus atos se interessa.</p>
<p><strong>20</strong> No Senhor nós esperamos confiantes, porque ele é nosso auxílio e proteção!</p>
<p><strong>21</strong> Por isso o nosso coração se alegra nele, seu santo nome é nossa única esperança.</p>
<p><strong>Refrão:</strong> Feliz o povo que o Senhor escolheu por sua herança!</p>
<h3>Aclamação ao Evangelho</h3>
<p><strong>Lc 4,18</strong></p>
<p><strong>Aleluia, aleluia, aleluia.</strong></p>
<p>O Espírito do Senhor repousa sobre mim e enviou-me a anunciar aos pobres o Evangelho.</p>
<p><strong>Aleluia, aleluia, aleluia.</strong></p>
<h3>Evangelho</h3>
<p><strong>Eu devo anunciar a Boa-Nova do Reino de Deus também a outras cidades, porque para isso é que eu fui enviado.</strong></p>
<p><strong>Proclamação do Evangelho de Jesus Cristo segundo Lucas 4,38-44</strong></p>
<p>Naquele tempo,</p>
<p><strong>38</strong> Jesus saiu da sinagoga e entrou na casa de Simão. A sogra de Simão estava sofrendo com febre alta, e pediram a Jesus em favor dela.</p>
<p><strong>39</strong> Inclinando-se sobre ela, Jesus ameaçou a febre, e a febre a deixou. Imediatamente, ela se levantou e começou a servi-los.</p>
<p><strong>40</strong> Ao pôr do sol, todos os que tinham doentes atingidos por diversos males, os levaram a Jesus. Jesus colocava as mãos em cada um deles e os curava.</p>
<p><strong>41</strong> De muitas pessoas também saíam demônios, gritando: “Tu és o Filho de Deus”. Jesus os ameaçava, e não os deixava falar, porque sabiam que ele era o Messias.</p>
<p><strong>42</strong> Ao raiar do dia, Jesus saiu, e foi para um lugar deserto. As multidões o procuravam e, indo até ele, tentavam impedi-lo que os deixasse.</p>
<p><strong>43</strong> Mas Jesus disse: “Eu devo anunciar a Boa-Nova do Reino de Deus também a outras cidades, porque para isso é que eu fui enviado”.</p>
<p><strong>44</strong> E pregava nas sinagogas da Judeia.</p>
<p><strong>Palavra da Salvação.</strong></p>
<p><strong>Glória a vós, Senhor.</strong></p>
